include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1"  inputmode='numeric')
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по номеру или названию запчасти" inputmode='search')
			button 
				+icon("search")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)

			h1= t

mixin page-head-with-links(titleSpan, title, footer, customClass)
	+b.page-head-with-links.section
		.container
			+e.row.row(data-aos="fade-up" class=customClass)
				.col-lg-8
					span!= titleSpan
					h1!= title
					if footer
						+e.footer Your message has been sent successfully. We&nbsp;typically reply within 30&nbsp;min!
						+e.btn.btn.btn-outline-light(href='/') Back to home
				.col-lg-4
					span How about ping us?
					+e.email.h4(href='mailto:hello@quasabra.com') hello@quasabra.com
					+e.inner-row
						.row
							.col-6: a(href='#' target='_blank') Behance
							.col-6: a(href='https://wa.me/79168245247' target='_blank') Whatsapp
							.col-6: a(href='#' target='_blank') Dprofile
							.col-6: a(href='https://t.me/ASMisun' target='_blank') Telegram
							.col-6: a(href='#' target='_blank') Awwwards
							.col-6
							.col-6: a(href='#' target='_blank') Dribbble

mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

mixin upload-field()
	+b.upload-field
		+e.input-wrap
			+e.LABEL.btn
				input.input-upload(type='file' name='file')
				span Attach file
		+e.file-name 